div{
    text-align: center;
    
}
h1{
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
p{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}
button{
    background-color: blue;
    font-size: large;
    color: azure;
    width: 200px;
    
    
    
}
button:hover{
    background-color: green;
}